@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
html {
  height: 100%;
  width: 100%;
}
body{
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  background-color: #333333;
}
h1{
    font-size: 3vw;
    color: #fff;
    font-weight: bold;
}
.button{
  width: 6vw;
  padding: 2vw;
  margin: 0 0.5vw;
  border: 2px solid black;
  border-radius: 2vw;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  background: none;
  border: none;
  background-color: #3498db;
  border-color: #3498db;
  box-shadow: 0.2vw 0.3vw #34495e;
  transition: all 0.3s ease-in;
}
.button:hover{
    background-color: #2980b9;
}
.row{
  width: 100vw;
  margin: 1vw auto;
}
.row input{
  margin: 0;
  padding: 1vw 1vw;
  border-radius: 0.4vw solid black;
  width: 23vw;
  font-size: 1rem;
  position: relative;
  left: 2vw;
}